$down: (89px, 73px, -89px, -73px, 11px, 7px, 145px, 143px, 'sprite.png');
$lang-icon: (69px, 73px, -69px, -73px, 17px, 17px, 145px, 143px, 'sprite.png');
$phone: (43px, 73px, -43px, -73px, 23px, 23px, 145px, 143px, 'sprite.png');
$tp1: (0px, 0px, 0px, 0px, 79px, 70px, 145px, 143px, 'sprite.png');
$tp2: (0px, 73px, 0px, -73px, 40px, 70px, 145px, 143px, 'sprite.png');
$tp3: (82px, 0px, -82px, 0px, 63px, 63px, 145px, 143px, 'sprite.png');
$up: (103px, 73px, -103px, -73px, 11px, 7px, 145px, 143px, 'sprite.png');
