%section {
  padding: 50px 0;

  @include tablet-l {
    padding: 40px 0;
  }
}

.take-part,
.shops,
.details {
  @extend %section;
  background-color: #fff;
}

.shops {
  &__disclaimer {
    margin-top: 2em;
    text-align: center;
  }
}

.details {
  font-size: rem(18px);
  padding-top: 20px;
}

.guarantee-best {
  @extend %section;
  background-color: $lightblue;
}

.take-part {
  &__items {
    display: flex;
    justify-content: center;
    margin: 85px 0 0;

    @include tablet-p {
      flex-wrap: wrap;
      margin-top: 45px;
    }
  }

  &__item {
    width: 25%;
    margin: 0 25px;
    position: relative;
    text-align: center;

    &:nth-child(2),
    &:nth-child(3) {
      &:before,
      &:after {
        position: absolute;
        content: '';
        top: 35px;
        height: 1px;
        width: 50px;
        background-color: $blue;
        left: -45px;
      }

      &:after {
        left: auto;
        right: -45px;
      }

      @include tablet-p {
        &:after, &:before {
          display: none;
        }
      }
    }

    &:nth-child(3) {
      &:before {
        display: none;
      }

      @include tablet-p {
        margin-bottom: 30px;
      }
    }

    &--noline:after {
      display: none;
    }

    p {
      max-width: 180px;
      margin: 0 auto;
    }

    @include tablet-p {
      margin: 0 5% 30px;
      width: 40%;
    }

    @include mobile {
      width: 70%;
      margin: 0 0 30px;
    }
  }

  &__icon {
    height: 120px;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: top;
    }

    @include mobile {
      height: 85px;
    }
  }
}

.ic-house {
  @include sprite($tp1);
}

.ic-phone {
  @include sprite($tp2);
}

.ic-check {
  @include sprite($tp3);
}

.internet-gift {
  text {
    font-weight: bold;

    &.mb {
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.guarantee-best {
  .center {
    max-width: 1210px;
    width: auto;
  }

  &__text {
    text-align: center;
    margin-top: 2em;

    @include tablet-p {
      font-size: rem(14px);
    }
  }
}
