/*

<section class="gadgets" v-cloak>
  <div class="gadgets__inner">
    <article v-for="gadget in gadgets | shuffle | limitBy limit" class="gadget">
      <a v-bind:href="gadget.url" class="gadget__name">{{ gadget.model }}</a>
      <figure class="gadget__pic">
        <div class="gadget__icons">
          <!-- <img src="/sites/all/themes/kyivstar/html/build/images/best_price/bestprice.png" alt="Best price" /> -->
          <svg class="internet-gift" width="63px" height="63px" viewBox="0 0 67 67" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle fill="none" stroke="#0e9eff" stroke-width="2" cx="33.5" cy="33.5" r="32.75" />
            <g transform="translate(25, 17)" fill="#0e9eff">
              <path d="M8.5776719,6.29107137 C8.8527928,6.40170369 9.16605516,6.27318354 9.27889307,6.00395878 C9.97475989,4.34395545 11.8451457,0.546616028 14.180897,1.11455454 C15.3345275,1.39745442 16.0196195,2.39735803 15.8476855,3.54742866 C15.6150027,5.09893842 13.7918806,6.84164054 9.42987244,6.639884 C9.14404285,6.62880132 8.88234087,6.85058445 8.8677982,7.14139127 C8.85385045,7.43219808 9.08329414,7.67822051 9.37930361,7.69241412 C9.62540526,7.70349679 9.8645,7.70874648 10.0971827,7.70874648 C14.6654985,7.70874648 16.6273049,5.59091848 16.9104242,3.70018811 C17.1618802,2.02171366 16.1232691,0.505007386 14.4408803,0.0919670872 C11.4028502,-0.645581729 9.28094227,3.22654955 8.28424046,5.60355662 C8.1725263,5.87278138 8.30307983,6.18043904 8.5776719,6.29107137 Z" stroke="#FFFFFF" stroke-width="0.3" />
              <path d="M2.8614611,1.11585044 C5.25525089,0.525292896 7.14553375,4.48167844 7.84781256,6.20759452 C7.95741142,6.47785625 8.27067378,6.61058912 8.54579468,6.50209555 C8.8214444,6.39463897 8.9557658,6.08801828 8.84616694,5.81775654 C7.84510234,3.35435646 5.70283465,-0.664766099 2.6014117,0.0938462817 C0.927682443,0.503646032 -0.112052449,2.01406564 0.129752513,3.68463315 C0.403220835,5.57484504 2.35907791,7.71062568 6.94841445,7.71062568 C7.13218093,7.71062568 7.32077293,7.70693145 7.51313281,7.699543 C7.8097372,7.68846032 8.04129619,7.44457665 8.03005867,7.15376984 C8.01928388,6.86296302 7.77265339,6.61797757 7.47287606,6.64694807 C3.18880341,6.80443872 1.41565517,5.06860656 1.1931523,3.5366049 C1.02763026,2.39230245 1.71377993,1.39713004 2.8614611,1.11585044 Z" stroke="#FFFFFF" stroke-width="0.3" />
            </g>
            <text fill="#0e9eff">
              <tspan x="13" y="40">
                <template v-if="gadget.price>= 3500 &&gadget.category == 211">3000</template>
                <template v-else>1000</template>
              </tspan>
            </text>
            <text class="mb" fill="#0e9eff">
              <tspan x="25" y="53">МБ</tspan>
            </text>
          </svg>
        </div>
        <a v-bind:href="gadget.url">
          <img v-bind:src="gadget.picture"/>
        </a>
      </figure>
      <div class="gadget__moar">
        <div class="gadget__price">
          {{ gadget.price }}
          <div class="gadget__price-currency">грн</div>
        </div>
        <a v-bind:href="gadget.url" class="blue-btn small-btn">Детальніше</a>
      </div>
    </article>
  </div>

  <div class="gadgets__moar">
    <button class="yellow-btn" @click.prevent="showMore($event)">Показати більше</button>
  </div>
</section>

*/

.gadgets {
  margin: 0 auto;

  &__inner {
    display: flex;
    flex-flow: row wrap;

    @include mobile {
      justify-content: center;
    }
  }

  &__moar {
    margin: 20px 0 0;
    display: flex;

    .yellow-btn {
      margin: 0 auto;
    }
  }

  @media (max-width:1220px) {
    width: 1000px;
  }

  @include tablet-l {
    width: 700px;
  }

  @include mobile {
    width: 100%;
  }
}

.gadget {
  width: calc(25% - 20px);
  min-width: 280px;
  margin: 0 10px 20px;
  border: 1px solid shade($lightblue, 5%);
  padding: 25px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &__name {
    min-height: 2.5em;
    height: 8ex;
    font-size: rem(20px);
    font-weight: bold;
    color: $blue;
  }

  &__pic {
    padding: 20px 0 40px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;

    img {
      width: 130px;
    }
  }

  &__icons {
    margin-right: 15px;

    img {
      margin-bottom: -20px;
      position: relative;
    }
  }

  &__moar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    display: block;
    font-weight: 700;
    font-size: rem(28px);
    line-height: 1;
    letter-spacing: -1px;
    white-space: nowrap;

    &-currency {
      font-style: normal;
      color: #909ba2;
      font-weight: 300;
      font-size: rem(14px);
      letter-spacing: 0;
      padding-left: 4px;
      display: inline;
    }
  }

  @media (max-width:1220px) {
    width: calc(33.33% - 20px);
  }

  @include tablet-l {
    width: calc(50% - 20px);
  }

  @include mobile {
    // width: 100%;
  }
}
