@import "interface/pageheader";
@import "interface/pagefooter";
@import "interface/blocks/buttons";
@import "interface/blocks/accordion";
// @import "interface/blocks/collapsible";
// @import "interface/blocks/inputfile";
@import "interface/blocks/upbtn";
@import "interface/blocks/lists";
// @import "interface/blocks/tabs";
// @import "interface/blocks/navbar";

.ks-wrapper {
	background-color: #fff;
	max-width: 1350px;
	margin: 0 auto;
	background: #FFF;
	position: relative;
	box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1), -2px 0 4px rgba(0, 0, 0, 0.1);

	@include tablet-l {
		width: 1024px;
	}

	@include tablet-p {
		width: 768px;
	}

	@include mobile {
		width: auto;
	}
}

.center {
	width: 1050px;
	margin: 0 auto;

	@include tablet-l {
		width: 845px;
	}

	@include tablet-p {
		width: 610px;
	}

	@include mobile {
		width: auto;
		padding: 0 15px;
	}
}

a {
	color: $blue;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: shade($blue, 20);
	}
}

.sect-header {
	font-size: rem(32px);
	font-weight: bold;
	text-align: center;
	margin: 0 auto .7em;
	max-width: 670px;

	@include tablet-p {
		font-size: rem(30px);
	}

	@include mobile {
		font-size: rem(26px);
	}
}

.sub-head {
	font-size: rem(32px);
	font-weight: bold;
	margin-bottom: .7em;

	@include mobile {
		font-size: rem(20px);
	}
}
