@import "interface/blocks/logo";
@import "interface/blocks/lang";

.pageheader {
  background-color: $blue;
  color: #fff;
  position: relative;
  display: flex;

  &__left {
    background-color: $blue;
    width: 675px;
    height: 638px;
    padding: 30px 0 0 45px;
    overflow: hidden;
    position: relative;

    picture {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
      }
    }

    .logo {
      z-index: 1;
      position: relative;
      width: 120px;
    }

    @include tablet-l {
      display: none;
    }
  }

  &__right {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 45px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: -30px;
      top: 115px;
      @include triangle(62px 31px, $blue, left);

      @include tablet-l {
        display: none;
      }
    }

    @include tablet-l {
      flex-shrink: 1;
    }

    @include mobile {
      padding: 30px;
    }
  }
}

.page-name {
  font-size: rem(45px);
  line-height: 1.2;
  font-weight: bold;
  max-width: 560px;
  margin: 2.5em 0 0;
  letter-spacing: -.02ex;

  &:before {
    clear: both;
    content: "";
    display: table;
  }

  @at-root .fonts-loaded & {
    letter-spacing: 0;
  }

  @include tablet-l {
    max-width: 740px;
    margin-top: 70px;
  }

  @include tablet-p {
    width: auto;
  }

  @include mobile {
    font-size: rem(36px);
    margin-top: 0;
  }

  &__dotted {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      content: '';
      right: -24px;
      bottom: 0;
      background-color: $yellow;
      @include size(15px);
      border-radius: 15px;
    }

    &:after {
      right: -45px;
    }
  }
}

.page-description {
  font-size: rem(18px);
  max-width: 490px;
  margin: 2em 0;

  p + p {
    margin-top: 1em;
  }

  @include tablet-l {
    max-width: 580px;
  }

  @include mobile {
    font-size: rem(16px);
    margin: 1.5em 0 1.5em;
  }
}

.phone {
  text-align: right;
  float: right;

  &__number {
    font-weight: 700;
    font-size: 1.5rem;
    display: block;
    color: #fff;
    line-height: 1;
    transition: color .2s ease-in-out;
    padding: 0 0 0 30px;
    position: relative;

    &:before {
      @include forsprite;
      @include sprite($phone);
    }

    &:hover {
      color: $yellow;
    }

    span {
      line-height: 1.4375rem;
    }
  }

  &__free {
    color: #fff;
    font-size: .75rem;
    display: block;
    letter-spacing: -.2px;
    margin-top: 5px;
    text-align: right;
  }
}


.page-nav {
  position: fixed;
  width: 100%;
  max-width: 1350px;
  padding: 15px 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transform: translateY(-200px);
  transition: transform .3s;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  top: 0;
  background-color: $blue;
  z-index: 1;

  &.active {
    transform: translateY(0);
  }

  .phone {
    @include tablet-p {
      display: none;
    }
  }

  .find-shop {
    display: flex;

    @include tablet-p {
      .yellow-btn,
      .trans-btn {
        padding: 7px 20px;
        font-size: rem(14px);
        display: flex;
      }
    }
  }

  @include tablet-l {
    max-width: 1024px;
  }

  @include tablet-p {
    max-width: 768px;
  }

  @include mobile {
    display: none;
  }
}

.find-shop {
  display: flex;
  flex-flow: row wrap;

  .yellow-btn {
    margin-right: 30px;
  }

  @include mobile {
    .yellow-btn,
    .trans-btn {
      margin-bottom: 10px;
    }
  }
}
