*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: $em-base;
	font-weight: 300;
	color: $textcolor;
}

body {
	font-size: $basefontsize;
	font-family: Arial, sans-serif;
	line-height: 1.29;
	background: #eceef0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@at-root .fonts-loaded & {
		font-family: $mainfont;
	}

	&::-moz-selection {
		background-color: $blue;
	}

	&::selection {
		background-color: $blue;
	}
}

input, button, textarea {
	font-family: $mainfont;
	font-size: $basefontsize;
	resize: none;
	border-radius: 0;

	@include placeholder {
		color: #656565;
		transition: color .3s .3s;
	}

	&:focus {
		@include placeholder {
			color: transparent;
		}
	}
}

button {
	padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

b, strong {
	font-weight: bold;
}

i {
	font-style: italic;
}

sup {
	font-size: 70%;
}

.ks-wrapper {
  min-height: 100%;
}
