$em-base: 16px;
$basefontsize: 16px;
$mainfont: 'MuseoSans', Arial, sans-serif;


$textcolor: #3b4952;
$lightblue: #f7f8fb;
$blue: #239fff;
$yellow: #fdda24;
$grey: #d1d7db;
$lightgrey: #f7f8fb;


$tabl: 1100;
$tabp: 1020;
$mob: 766;
