// <div class="collapsible">
//   <div class="collapsible__content"></div>
//
//   <button class="collapsible__button">
//     <span class="collapsible__button-open">згорнути</span>
//     <span class="collapsible__button-close">розгорнути</span>
//   </button>
// </div>

.collapsible {
  &__content {
    display: none;
    margin: 1em 0;

    @at-root .open & {
      display: block;
    }
  }

  &__button {
    text-align: center;
    background-color: $lightblue;
    color: $blue;
    padding: 25px 0;
    border: none;
    width: 100%;
    font-size: rem(14px);
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    transition: background-color .3s;

    &:hover {
      background-color: shade($lightblue, 2%);
    }

    &--small-btn {
      border: none;
      background-color: transparent;
      text-align: left;
      border: none;
      position: relative;
      padding: 0 0 0 18px;
      width: auto;

      &:hover {
        background-color: transparent;

        .collapsible__button-open,
        .collapsible__button-close {
          border-bottom: 1px dotted $blue;
        }
      }

      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 2px;
        @include size(13px);
        border-radius: 10px;
        background-color: $yellow;
      }

      &:after {
        @include forsprite(1px, 6px);
        @include sprite($down);
        transform: scale(0.6);
      }

      .collapsible__button-open,
      .collapsible__button-close {
        padding: 0;

        &:after {
          display: none;
        }
      }

      @at-root .open &:after {
        @include sprite($up);
        top: 5px;
      }
    }
  }

  & > p {
    margin-bottom: 1em;
  }

  &__button-open {
    position: relative;
    display: none;
    padding-right: 23px;

    &:after {
      @include forsprite(auto, 5px);
      opacity: .7;
      transform: scale(.8);
      right: 0;
      @include sprite($up);
    }

    @at-root .open & {
      display: inline;
    }
  }

  &__button-close {
    @extend .collapsible__button-open;
    display: inline;

    &:after {
      @include sprite($down);
    }

    @at-root .open & {
      display: none;
    }
  }
}
